BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
BreakBeforeBraces: Attach
PointerAlignment: Left
IndentPPDirectives: BeforeHash
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: true
