BasedOnStyle: LLVM
UseTab: Always
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
BreakBeforeBraces: Attach
PointerAlignment: Left
IndentPPDirectives: BeforeHash
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
SpaceBeforeParens: Never
